.profile-avatar {
  width: 160px;          /* Ancho fijo */
  height: 160px;         /* Alto fijo */
  
  /* PROPIEDADES CLAVE PARA QUE NO SE DEFORME */
  object-fit: cover;     
  object-position: center; 
  aspect-ratio: 1 / 1;   
  background-color: white; 
  display: block;       
}


@media (max-width: 768px) {
  .profile-avatar {
    width: 120px;
    height: 120px;
  }
}