/* Efecto hover para las tarjetas de usuario */
.hover-scale {
  transition: transform 0.2s ease-in-out;
}

.hover-scale:hover {
  transform: translateY(-5px);
}

/* Ajuste opcional para el input de búsqueda */
.input-group-text {
  background-color: #fff;
}
.form-control:focus {
  box-shadow: none;
  border-color: #ced4da; /* O tu color primario */
}

.hover-lift {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.hover-lift:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}